<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shineyang.zhidaily">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".app.MyApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.StoryActivity" />
        <activity android:name=".ui.activity.CommentActivity" />
        <activity android:name=".ui.activity.MainActivity" />
        <activity android:name=".ui.activity.ColumnContentListActivity" />
        <activity android:name=".ui.activity.HotColumnActivity" />
        <activity android:name=".ui.activity.OpenSourceListActivity"></activity>
    </application>

</manifest>